<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZFjruBVN3ZPcxXnLHf6kEuayhEJXOPUg</string>
	<key>GCM_SENDER_ID</key>
	<string>369087171178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linhndq.alpha</string>
	<key>PROJECT_ID</key>
	<string>alpha-92f76</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-92f76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369087171178:ios:f4e416c67c2e1292a35813</string>
</dict>
</plist>